.bg_img_check {
  min-height: 100dvh;
  background-image: url(../assets/backgroundImages/laptopbg.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* typography */
  color: var(--text-gray);
  letter-spacing: 1px;

  /* background opacity */
  position: relative;
  isolation: isolate;

  line-height: 1.5;
}

.bg_img_check::after {
  content: "";
  position: absolute;

  /* background gradient */
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.7) 0%,
    /* dark at the center */ rgba(0, 0, 0, 0.5) 30%,
    /* dark at the middle */ rgba(255, 0, 0, 0.1) 60%,
    /* subtle red */ rgba(0, 0, 255, 0.1) 100% /* subtle blue */
  );

  inset: 0;
  z-index: -1;
}
